body {
    background-image: url("https://images3.alphacoders.com/589/thumb-1920-58905.jpg");
}

h1 {
    font-size: 200px; 
    text-align: center;
    font-size: 60px;
    color: blueviolet;

    
}

